<div class="modal-header">
  <div class="header-wrapper">
    <h1 mat-dialog-title>Info</h1>
  </div>
  <button mat-button class="modal-close" mat-dialog-close>
    <mat-icon fontSet="material-icons-round">close</mat-icon>
  </button>
</div>

<div class="modal-content">
  <div mat-dialog-content class="modal-content-text">
    <p>Vous devez vous connecter avant de passer une commande.</p>
  </div>

  <div mat-dialog-actions class="modal-buttons">
    <button mat-button class="positive-btn" (click)="onConfirm()">Ok</button>
  </div>
</div>
