<footer class="footer">
  <div class="block-social-mb-4">
    <div class="social-media">
      <a
        class="Facebook"
        title="Facebook"
        href="https://www.facebook.com/InfoLib.tn"
        target="_blank"
      >
        <img
          src="/assets/logos/facebook.webp"
          alt="facebook"
          width="103"
          height="42"
        />
      </a>
      <a class="Instagram" title="Instagram" href="#" target="_blank">
        <img
          src="/assets/logos/instagram.webp"
          alt="Instagram"
          width="103"
          height="42"
        />
      </a>
      <a class="Youtube" title="Youtube" href="#" target="_blank">
        <img
          src="/assets/logos/youtube.webp"
          alt="Youtube"
          width="103"
          height="42"
        />
      </a>
      <a class="Twitter" title="Twitter" href="#" target="_blank">
        <img
          src="/assets/logos/twitter.webp"
          alt="Twitter"
          width="103"
          height="42"
        />
      </a>
      <a
        class="Linkedin"
        title="Linkedin"
        href="https://www.linkedin.com/company/info-lib/"
        target="_blank"
      >
        <img
          src="/assets/logos/linkedin.webp"
          alt="Linkedin"
          width="103"
          height="42"
        />
      </a>
    </div>
  </div>

  <div class="service">
    <ul class="service-list">
      <li class="service-item">
        <mat-icon fontSet="material-icons-outlined"
          >sentiment_satisfied</mat-icon
        >
        <span class="service-text">SATISFAIT OU REMBOURSÉ </span>
      </li>

      <li class="service-item">
        <mat-icon fontSet="material-icons-outlined">payments</mat-icon>
        <span class="service-text">PAIEMENT À LA LIVRAISON</span>
      </li>

      <li class="service-item">
        <mat-icon fontSet="material-icons-outlined">local_shipping</mat-icon>
        <span class="service-text">GRATUITE EN 48H À PARTIR DE 300DT</span>
      </li>

      <li class="service-item">
        <mat-icon fontSet="material-icons-outlined">credit_card</mat-icon>
        <span class="service-text">PAIEMENT EN LIGNE 100% SÉCURISÉ</span>
      </li>

      <li class="service-item">
        <mat-icon fontSet="material-icons-outlined">phone</mat-icon>
        <span class="service-text">CONTACTEZ-NOUS AU 70 297 062</span>
      </li>
    </ul>
  </div>

  <div class="copyrights">
    &copy;
    {{ thisYear | date : "yyyy" }}, Info’Lib
  </div>
</footer>
